@import "../../dist/variables";
.header {
    align-items: stretch;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary_color;
    color: white;
    padding: 1rem 1rem;
    .swiper {
        max-width: calc(100vw - 45rem);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        gap: 0.2rem;

        &__container {
            width: 10rem;
            height: 5rem;
            background: white;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    button.search_button {
        flex: 0.5;
        padding: 1rem;
        width: 15rem;
        border-radius: 7rem;
        outline: none;
        border: 1px solid $font_color;
        cursor: pointer;
        font-size: 1.5rem;
        transition: $transition;
        &:hover {
            background: $red_color;
            border: none;
        }
    }
}
